<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
    <key>Appetizer</key>
    <array>
        <string>Cruvit</string>
        <string>Carpachio</string>
        <string>Cuba</string>
        <string>Eggroll</string>
        <string>Pate liver</string>
    </array>
    <key>Main dish</key>
    <array>
        <string>Chicken breast</string>
        <string>Souvlaki</string>
        <string>Salomon</string>
        <string>Denis</string>
        <string>Sinta</string>
    </array>
    <key>Fruit</key>
    <array>
        <string>Banana</string>
        <string>Pineapple</string>
        <string>Watermelon</string>
        <string>Kiwi</string>
        <string>Apple</string>
        <string>Melon</string>
        <string>Strawberry</string>
    </array>
</dict>
</plist>
